@model X.PagedList.IPagedList<HR_Sys.Models.EmpReport>;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;

@{
        ViewData["Title"] = "Salaries Report";

    
}
    <section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-right">رواتب الموظفين</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                       @* <p class="card-text">DataTables has most features enabled by default, 
                            so all you need to do to use it with your own ables is to call the construction</p>*@
                         
                            <div class="row"><div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length"><label>السنة
                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                    <option value="10">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="2000">
                                      2000</option></select> </label></div></div>
                                    
                                      <div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length"><label>الشهر
                                       <select  class="form-control"  asp-items="ViewBag.months" asp-for="@Model.FirstOrDefault().idmonth">
                                       </select> 
                                      </label></div></div>
                           
                                <div class="col-lg-3">
                                    <form>
                                        <div class="col-sm-12 col-md-8">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <input type="text" class="form-control form-control-sm" placeholder="بحث عن موظف" aria-controls="DataTables_Table_0" name="searchString" id="searchString" />
                                            </div>
                                            @*<div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <input type="submit" class="btn btn-info"  name="searchString" value="search">
                                            </div>*@
                                        </div>
                                      </form>
                                </div>
                                   <input id="pageNum" hidden value="@ViewBag.pageNum"/>
                            </div>

                            
                            <div id="renderTable">

                            </div>

                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $("#idmonth").on("change",function(){
            let id=$("#idmonth").val();


             $("#renderTable").load("/Report/searchByMonth?idmonth="+id)


        
        })

        $(function(){
            let id=$("#idmonth").val();
            let idPageNum=$("#pageNum").val();
            $("#renderTable").load("/Report/searchByMonth?idmonth="+id+"&page="+idPageNum);
        
        })


        $.ajax({

            url:'Report/searchByName',
            method:'GET',
            success:function(data)
                     {
                         $("renderTable").append(data)
                      }
            error:function(data)
                   {
                   }

        })

    </script>



}

