@model HR_Sys.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">الموظفين</h1>
<hr />

<form asp-action="Create">
<div class="row">

    <div class="col-md-6">
        <h2 class="text-center text-border">بيانات الموظفين </h2>
        <table>
            <tr class="form-group">
                <td><label asp-for="empName" class="control-label">اسم الموظف</label></td>
                <td><input asp-for="empName" class="form-control" /></td>
                <td><span asp-validation-for="empName" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label asp-for="empName" class="control-label"> العنوان</label></td>
                <td><input asp-for="empAddress" class="form-control" /></td>
                <td><span asp-validation-for="empAddress" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label class="control-label"> رقم التليفون</label></td>
                <td><input class="form-control" /></td>
                <td></td>
            </tr>
              <tr class="form-group">
                <td><label asp-for="empGender" class="control-label"> النوع</label></td>
                <td><select class="form-control"></select></td>
                <td><span asp-validation-for="empGender" class="text-danger"></span></td>
            </tr>
               <tr class="form-group">
                <td><label class="control-label"> الجنسية</label></td>
                <td><input class="form-control" /></td>
                <td></td>
            </tr>
            <tr class="form-group">
               <td><label class="control-label"> تاريخ الميلاد</label></td>
               <td><input asp-for="empDateOfBirth" class="form-control" /></td>
               <td><span asp-validation-for="empDateOfBirth" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
               <td><label class="control-label"> الرقم القومى </label></td>
               <td> <input asp-for="empSsn" class="form-control" /></td>
               <td> <span asp-validation-for="empSsn" class="text-danger"></span></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6" dir="rtl">
        <h2 class="text-center text-border">بيانات العمل </h2>
        <table>
              <tr class="form-group">
                   <td><label asp-for="empHireDate" class="control-label"> تاريخ التعاقد </label></td>
                   <td> <input type="date" asp-for="empHireDate" class="form-control" /></td>
                   <td> <span asp-validation-for="empHireDate" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="empNetSalary" class="control-label">الراتب</label></td>
                <td><input asp-for="empNetSalary" class="form-control" /></td>
                <td><span asp-validation-for="empNetSalary" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="requiredAttendanceTime" class="control-label">مواعيد الحضور</label></td>
                <td><input class="form-control" /></td>
                <td><span asp-validation-for="requiredAttendanceTime" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label asp-for="requiredDepartureTime" class="control-label">مواعيد الانصراف</label></td>
                <td><input class="form-control" /></td>
                <td><span asp-validation-for="requiredDepartureTime" class="text-danger"></span></td>
            </tr>
        </table>
           <div class="form-group text-center my-5">
                <span class="d-inline-block mr-3"><input type="button" value="حفظ" ></span>
                <span class="d-inline-block mr-3"><input type="button" value="تعديل"></span>
                <span class="d-inline-block mr-3"><input type="button" value="حذف" ></span>
            </div>
    </div>
</div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

