<<<<<<< HEAD
﻿@model HR_Sys.Models.Employee
=======
﻿@model Employee;
>>>>>>> a650b7d29aaa605ba3662b16a67962564ae15541

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">الموظفين</h1>
<hr />

<form asp-action="Create" method="post">
<div class="row">

    <div class="col-md-6">
        <h2 class="text-center text-border">بيانات الموظفين </h2>
        <table>
            <tr class="form-group">
                <td><label asp-for="empName" class="control-label">اسم الموظف</label></td>
                <td><input asp-for="empName" class="form-control" /></td>
                <td><span asp-validation-for="empName" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label asp-for="empName" class="control-label"> العنوان</label></td>
                <td><input asp-for="empAddress" class="form-control" /></td>
                <td><span asp-validation-for="empAddress" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label class="control-label"> رقم التليفون</label></td>
                <td><input class="form-control" /></td>
                <td></td>
            </tr>
              <tr class="form-group">
                <td><label asp-for="empGender" class="control-label"> النوع</label></td>
                <td><select class="form-control"></select></td>
                <td><span asp-validation-for="empGender" class="text-danger"></span></td>
            </tr>
               <tr class="form-group">
                <td><label class="control-label"> الجنسية</label></td>
                <td><input class="form-control" /></td>
                <td></td>
            </tr>
            <tr class="form-group">
               <td><label class="control-label"> تاريخ الميلاد</label></td>
               <td><input asp-for="empDateOfBirth" class="form-control" /></td>
               <td><span asp-validation-for="empDateOfBirth" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
               <td><label class="control-label"> الرقم القومى </label></td>
               <td> <input asp-for="empSsn" class="form-control" /></td>
               <td> <span asp-validation-for="empSsn" class="text-danger"></span></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6" dir="rtl">
        <h2 class="text-center text-border">بيانات العمل </h2>
        <table>
              <tr class="form-group">
                   <td><label asp-for="empHireDate" class="control-label"> تاريخ التعاقد </label></td>
                   <td> <input type="date" asp-for="empHireDate" class="form-control" /></td>
                   <td> <span asp-validation-for="empHireDate" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="empNetSalary" class="control-label">الراتب</label></td>
                <td><input asp-for="empNetSalary" class="form-control" /></td>
                <td><span asp-validation-for="empNetSalary" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="requiredAttendanceTime" class="control-label">مواعيد الحضور</label></td>
                <td><input class="form-control" /></td>
                <td><span asp-validation-for="requiredAttendanceTime" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label asp-for="requiredDepartureTime" class="control-label">مواعيد الانصراف</label></td>
                <td><input class="form-control" /></td>
                <td><span asp-validation-for="requiredDepartureTime" class="text-danger"></span></td>
            </tr>
        </table>
           <div class="form-group text-center my-5">
                <button class="btn btn-info mb-2 ml-2">
                      <a asp-controller="HR" asp-action="Index" asp-route-id="@*@item.id*@">حفظ</a>
                </button>
                <button class="btn btn-danger mb-2">
                      <a asp-controller="HR" asp-action="Index" asp-route-id="@*@item.id*@">الغاء</a>
                </button>
            </div>
    </div>
</div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>


<<<<<<< HEAD
<div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                     
                            <div class="row"><div class="col-sm-12 col-md-3">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                 <label>عرض 
@*                                  asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, nameof(Employee.Id), nameof(Employee.FullName)))
*@                                 <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                 </select>
                                </label>
                                </div>
                                </div>
                                      <div class="col-lg-1"></div> 
                                        <div class="col-sm-12 col-md-3">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>بحث:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <button id="addRow" class="btn btn-primary mb-2"> 
                                        <i class="ft-plus"></i>&nbsp;
                                        <a asp-controller="HR" asp-action="index" target="_blank"> إضافة مستخدم جديد</a>
                                   </button>
                                </div>
                            </div> 
                        <!------------------------------------------- start table of HRS-------------------------------------->                    
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>الاسم</th>
                                    <th>رقم التعريف</th>
                                    <th>التليفون</th>
                                    <th>تاريخ الميلاد </th>
                                    <th>النوع</th>
                                    <th>تاريخ التعاقد</th>
                                    <th>المرتب</th>
                                    <th>وقت الحضور</th>
                                    <th>وقت الانصراف</th>
                                    <th>الجنسيه</th>
                                    <th>تعديل</th>
                                    <th> تعديل اعدادات الموظف</th>
                                    <th>حذف</th>
                                    @*
                                    <th>Name</th>
                                    <th>Id</th>
                                    <th>Phone</th>
                                    <th>Date of birth</th>
                                    <th>Type</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                    <th>Attendance date</th>
                                    <th>check-out date</th>
                                    <th>Nationality</th>
                                    *@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @*@foreach(var item in Employee)
                                    {
                                        <td>item.empName</td>
                                        <td>item.id</td>
                                        <td>item.EmpPhones</td>
                                        <td>item.empDateOfBirth</td>
                                        <td>item.empGender</td>
                                        <td>item.empHireDate</td>
                                        <td>item.empNetSalary</td>
                                        <td>item.requiredAttendanceTime</td>
                                        <td>item.requiredDepartureTime</td>
                                        <td>item.Nationality</td>
                                    }*@
=======
>>>>>>> a650b7d29aaa605ba3662b16a67962564ae15541

                    