@model HR_Sys.ViewModels.CreateEmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center" id="emptext1">الـمـوظـفـيـن</h1>
<hr />

<form  method="post">
<div class="row">

    <div class="col-md-6">
        <h2 class="text-right text-border" id="emptext"><i class="icon-user"> بيانات الموظفين  </i> </h2>
        <table>
             <tr class="form-group">
                    <td><input asp-for="EmployeeID"  type="hidden"class="form-control" /></td>
                

            </tr>
            <tr class="form-group">
                    <td><label asp-for="empName" class="control-label text-border"></label></td>
                    <td><input asp-for="empName" class="form-control" /></td>
                    <td><span asp-validation-for="empName" class="text-danger"></span></td>
                

            </tr>
            <tr class="form-group">
                <td><label asp-for="empAddress" class="control-label"> </label></td>
                <td><input asp-for="empAddress" class="form-control" /></td>
                <td><span asp-validation-for="empAddress" class="text-danger"></span></td>
            </tr>
             <tr class="form-group">
                <td><label asp-for="phoneNum" class="control-label"> </label></td>
                <td><input asp-for="phoneNum" class="form-control" /></td>
                <td><span asp-validation-for="phoneNum" class="text-danger"></span></td>
            </tr>
             <tr class="form-group">
                <td><label asp-for="phoneNum2" class="control-label"> </label></td>
                <td><input asp-for="phoneNum2" class="form-control" /></td>
            </tr>
              <tr class="form-group">
                <td><label asp-for="empGender" class="control-label"> </label></td>
                <td><select asp-for="empGender"  class="form-control">
                     <option  value="true" >ذكر</option> 
                      <option value="false">انثى</option> 
                </select></td>
                <td><span asp-validation-for="empGender" class="text-danger"></span></td>
           
            <tr class="form-group">
               <td><label asp-for="empDateOfBirth" class="control-label"></label></td>
               <td><input type="date" asp-for="empDateOfBirth" class="form-control" /></td>
               <td><span asp-validation-for="empDateOfBirth" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
               <td><label asp-for="empSsn" class="control-label"></label></td>
               <td> <input asp-for="empSsn" class="form-control" /></td>
               <td> <span asp-validation-for="empSsn" class="text-danger"></span></td>
            </tr>
             
             <tr class="form-group">
               <td><label asp-for="nationalityId" class="control-label"></label></td>
               <td>

               
                <select asp-for="nationalityId"  class="form-control" asp-items="ViewBag.nationalities">
                 </select>

               </td>                                
               <td> <span asp-validation-for="nationalityId" class="text-danger"></span></td>
            </tr>
             <tr class="form-group">
               <td><label asp-for="deptid" class="control-label"></label></td>
               <td>

               
                <select asp-for="deptid"  class="form-control" asp-items="ViewBag.Departments">
                 </select>

               </td>                                
               <td> <span asp-validation-for="deptid" class="text-danger"></span></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6" dir="rtl">
        <h2 class="text-right text-border" id="emptext"><i class="icon-book-open"> بيانات العمل </i></h2>
        <table>
              <tr class="form-group">
                   <td><label asp-for="empHireDate" class="control-label"></label></td>
                   <td> <input type="date" asp-for="empHireDate" class="form-control" /></td>
                   <td> <span asp-validation-for="empHireDate" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="empNetSalary" class="control-label"></label></td>
                <td><input id="empNetSalary" asp-for="empNetSalary" class="form-control" /></td>
                <td><span asp-validation-for="empNetSalary" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="empNonNetSalary" class="control-label"></label></td>
                <td><input id="empNonNetSalary" asp-for="empNonNetSalary" class="form-control" /></td>
                <td><span asp-validation-for="empNonNetSalary" class="text-danger"></span></td>
              </tr>
               <tr class="form-group">
                <td><label asp-for="empGrossSalary" class="control-label"></label></td>
                <td><input id="empGrossSalary" asp-for="empGrossSalary" class="form-control" /></td>
                <td><span asp-validation-for="empGrossSalary" class="text-danger"></span></td>
              </tr>
              <tr class="form-group">
                <td><label asp-for="requiredAttendanceTime" class="control-label"></label></td>
                <td><input asp-for="requiredAttendanceTime" class="form-control" /></td>
                <td><span asp-validation-for="requiredAttendanceTime" class="text-danger"></span></td>
            </tr>
            <tr class="form-group">
                <td><label asp-for="requiredDepartureTime" class="control-label"></label></td>
                <td><input asp-for="requiredDepartureTime"  class="form-control" /></td>
                <td><span asp-validation-for="requiredDepartureTime" class="text-danger"></span></td>
            </tr>
          
            
             <tr class="form-group">
                <td><label asp-for="requiredDaysPerMonth" class="control-label"></label></td>
                <td><input  id="requiredDaysPerMonth" asp-for="requiredDaysPerMonth" class="form-control" /></td>
                <td><span asp-validation-for="requiredDaysPerMonth" class="text-danger"></span></td>
            </tr>
             <tr class="form-group">
                <td><label asp-for="requiredSalaryPerHour" class="control-label"></label></td>
                <td><input id="requiredSalaryPerHour"  asp-for="requiredSalaryPerHour" class="form-control" /></td>
                <td><span asp-validation-for="requiredSalaryPerHour"  class="text-danger"></span></td>
            </tr>



           


        </table>
           <div class="form-group text-center my-5">
                <input type="submit"  class="btn btn-info mb-2 ml-2" value="حفظ">
                
                 <a asp-controller="Employee" class="btn btn-danger mb-2" asp-action="Index" >الغاء</a>
                
            </div>
    </div>


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

</form>
    @section scripts{
    <script>
       $("#empNonNetSalary").on("keyup",function(){
            let empNetSalary=0
                   let empNonNetSalary=0
              $("#empNetSalary").val() ==""?empNetSalary:empNetSalary=$("#empNetSalary").val();
              $("#empNonNetSalary").val() ==""?empNonNetSalary:empNonNetSalary=$("#empNonNetSalary").val();

            $("#empGrossSalary").val(parseFloat( empNetSalary)+parseFloat( empNonNetSalary))
            $( "#empGrossSalary" ).prop( "disabled", true );

            
            
            })

              $("#empNetSalary").on("keyup",function(){
                 
             let empNetSalary=0
                   let empNonNetSalary=0
              $("#empNetSalary").val() ==""?empNetSalary:empNetSalary=$("#empNetSalary").val();
              $("#empNonNetSalary").val() ==""?empNonNetSalary:empNonNetSalary=$("#empNonNetSalary").val();

            $("#empGrossSalary").val(parseFloat( empNetSalary)+parseFloat( empNonNetSalary))
            $( "#empGrossSalary" ).prop( "disabled", true );

            
            
            })

             $("#requiredDaysPerMonth").on("keyup",function(){
                 
             let empGrossSalary=0
                   let requiredDaysPerMonth=0
              $("#empGrossSalary").val() ==""?empGrossSalary:empGrossSalary=$("#empGrossSalary").val();
              $("#requiredDaysPerMonth").val() ==""?requiredDaysPerMonth:requiredDaysPerMonth=$("#requiredDaysPerMonth").val();

            $("#requiredSalaryPerHour").val(parseFloat( empGrossSalary)/parseFloat( requiredDaysPerMonth))
            $( "#requiredSalaryPerHour" ).prop( "disabled", true );

            
            
            })
</script>
}



