
@model X.PagedList.IPagedList<HR_Sys.Models.Employee>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;


@{
    ViewData["Title"] = "Index";
}
<style>
        

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                font-size: 20px;
                font-weight: bold; 
            }

                .pagination .active {
                        color: #2a75ff;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color .3s;
                        border: 1px solid #ddd;
                        font-size: 20px;
                        font-weight: bold;  
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

        .container {
            padding-bottom: 3% !important;
        }

        .btn {
            margin-bottom: -12px !important;
        }
    </style>


<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-center">معلومات الموظفين</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard" style="padding:1rem 20px">
                     
                            <div class="row">
                                
                                <div class="col-md-5">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>بحث:<input type="text" class="form-control" aria-controls="DataTables_Table_0" name="searchString" id="searchString"></label>
                                    </div>
                                    @*<div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <input type="submit" class="btn btn-info"  name="searchString" value="search">
                                    </div>*@
                                </div>

                                @if (HttpContextAccessor.HttpContext.Session.GetString("empAdd") == "True")
                                    {
                                        <div class="col-md-3">
                                            <button id="addRow" class="btn btn-primary mb-2"> 
                                                <i class="ft-plus"></i>&nbsp;
                                                <a asp-controller="employee" asp-action="create" target=""> إضافة مستخدم جديد</a>
                                            </button>
                                        </div>
                                    }
                                 @if (HttpContextAccessor.HttpContext.Session.GetString("group") == "Admin")
                            {
                                <div class="col-md-3">
                                    <button id="addRow" class="btn btn-danger mb-2"> 
                                                <i class="ft-plus"></i>&nbsp;
                                                <a asp-controller="employee" asp-action="deletedEmployees" target=""> الموظفين المحذوفين</a>
                                    </button>
                                        </div>
                            }

                            

                    
                            </div>
                            <input id="pageNum" hidden value="@ViewBag.pageNum"/>

                            <br />
                      <!------------------------------------------- start table of Employee-------------------------------------->   
                        <div id="renderTable"></div>
                                             
                        <!------------------------------------------- end table of Empolyees-------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
            $("#searchString").on("keyup",function(){
            let text=$("#searchString").val();
            let idPageNum=$("#pageNum").val();

            $("#renderTable").load("/Employee/search?searchString=" + text+"&page="+idPageNum);
            


            
            })

            $(function(){
                let text=$("#searchString").val();
                let idPageNum=$("#pageNum").val();
                $("#renderTable").load("/Employee/search?searchString=" + text+"&page="+idPageNum)

            
            })





</script>

}


   

     