@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center text-bold">الأجازات الرسمية</h1>



    @*     <label asp-for="vacationName"></label>*@
    @*     <textarea asp-for="vacationName"></textarea>*@
     @*     <label asp-for="date"></label>*@
    @*     <textarea asp-for="date"></textarea>*@
<table class="table text-center"> 
    <tr>
    <td>الاســـــم</td>
    <td><textarea></textarea></td>
    <td><label >التاريـــــخ</label></td>
    <td><input type="date"></td>
    </tr>
</table>
<br />
<div class="text-center">
    <button class="btn btn-success">تاكيد</button>
</div>
<br />
<br />

