
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-bold">الأجازات الرسمية</h1>



    @*     <label asp-for="vacationName"></label>*@
    @*     <textarea asp-for="vacationName"></textarea>*@
     @*     <label asp-for="date"></label>*@
    @*     <textarea asp-for="date"></textarea>*@
<table class="table text-center"> 
    <tr>
    <td>الاســـــم</td>
    <td><textarea></textarea></td>
    <td><label >التاريـــــخ</label></td>
    <td><input type="date"></td>
    </tr>
</table>
<br />
<div class="text-center">
    <button>إضافة</button>
</div>
<br />
<br />
<table class="table table-bordered text-center table-striped"> 
    <tr>
    <th>الاســـــم</th>
    <th>التاريـــــخ</th>
    <th>العمليات</th>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td > <i class="fa fa-pencil"></i>&nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-trash"></i></td>
    </tr>

  
</table>
