@model List<HR_Sys.Models.TypesOfVacationsEmp>; 

<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-center">أجازات العارضه</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard" style="padding:1rem 20px">

   @* <button id="addRow" class="btn btn-primary mb-2"> 
         <i class="ft-plus"></i>&nbsp;
         <a asp-controller="EmployeeVacation" asp-action="create" target="">إضافةأجازه عارضة جديدة</a>
   </button>*@
    <table class="table text-center table-striped table-bordered zero-configuration">
        <thead>
            <tr>
                 <th>الاسم الموظف</th>
                 <th> تاريخ الاجازة</th>
                 <th>العمليات </th>
            </tr>
        </thead>
        <tbody>
@*            (List<annualHoliday>) ViewBag.annulholiday
*@            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.emp.empName</td>
                    <td>@item.date</td>

                    <td>
                       <a asp-controller="EmployeeVacation" asp-action="Delete" onclick="return confirm('هل تريد مسح  الأجازه      ؟  ')"  asp-route-id="@item.id"><i class="fa fa-trash font-medium-4"></i></a> 
                    </td>
                </tr>
            }
            
        </tbody>            
    </table>
   </div>
                    </div>
            </div>
        </div>
    </div>
</section>
    <!------------------------------------------- end table of HRS-------------------------------------->  

