@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model  HR_Sys.ViewModels.EmpGeneralSettingViewModel 

@{
}
    <section id="horizontal-form-layouts">

		<div class="row">
			<div class="col-md-12">
				<div class="card mb-5">
					<div class="card-header">
						<div class="card-title-wrap bar-success">
							<h4 class="card-title" id="horz-layout-basic"> @ViewBag.nameEmployee اعدادات الموظف </h4>
						</div>
					</div>
					<div class="card-body">
						<div class="px-3">
							<form class="form form-horizontal" asp-action="EmpGeneralSetting" method="post">
								
									<input type = "hidden" value="@ViewBag.idEmployee" />
									<div class="form-group row">
						
										  <label asp-for="requiredExtraHours" class="col-md-3 label-control control-label"></label>

											<div class="col-md-6">
										
												 <input asp-for="requiredExtraHours" id="projectinput2" class="form-control" />

											</div>
											<div class="col-md-3">
												 <span asp-validation-for="requiredExtraHours" class="text-danger"></span>

											</div>

									</div>
									<div class="form-group row">
						
										  <label asp-for="requiredDeductHours" class="col-md-3 label-control control-label"></label>

											<div class="col-md-6">
										
												 <input asp-for="requiredDeductHours" id="projectinput2" class="form-control" />

											</div>
											<div class="col-md-3">
												 <span asp-validation-for="requiredDeductHours" class="text-danger"></span>

											</div>

									</div>


									<div class="form-group row">
										  <label asp-for="idDayHolday1" class="col-md-3 label-control control-label"></label>

										<div class="col-md-6 text-right">
										 <select asp-for="idDayHolday1"  class="form-control" asp-items="@ViewBag.holidays1">
									      </select>
                                      
										</div>
											<div class="col-md-3">
												 <span asp-validation-for="idDayHolday1" class="text-danger"></span>

											</div>
									</div>
							<div class="form-group row">
										  <label asp-for="idDayHolday2" class="col-md-3 label-control control-label"></label>

										<div class="col-md-6 text-right">
										 <select asp-for="idDayHolday2"  class="form-control" asp-items="ViewBag.holidays2">
									      </select>
                                      
										</div>
											<div class="col-md-3">
												 <span asp-validation-for="idDayHolday2" class="text-danger"></span>

											</div>
									</div>
							
						
   

								<div class="form-actions">
									<button type="button" class="btn btn-danger mr-1">
										<i class="icon-trash"></i> الغاء
									</button>
									<button type="submit" class="btn btn-success">
										<i class="icon-note"></i> 
										حفظ
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>


