@model HR_Sys.ViewModels.CreateDepartmentViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center" id="emptext1">إضافة قسم</h1>
<hr />
<form method="post" asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <td><input asp-for="deptId"  type="hidden"class="form-control" /></td>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"><label asp-for="deptName" class="control-label"></label></div>
                    <div class="col-md-8"><input asp-for="deptName" class="form-control" /></div>
                    <div class="col-md-2"><span asp-validation-for="deptName" class="text-danger"></span></div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-1">
                <input type="submit"  class="btn btn-info" value="حفظ">
        </div>
    </div>
    
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>
