
@{
    ViewData["Title"] = "View";
}
<head>
       <meta name="viewport" content="width=device-width" />
    <title>error page</title>
</head>
<body>
<section id="configuration">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
           
           
                <div class="card-header">
                  <div class="card-title-wrap bar-success">
                      <h4 class="card-title"> </h4>
                  </div>
              </div>
              <div class="card-body">
                 <h1 class="text-danger text-center " > ليس لديك صلاحية للدخول هنا شكرا </h1>
				 <i class="fas fa-exclamation-circle"></i>
                </div>
                
            </div>
        </div>
    </div>
</section>
</body>