@model HR_Sys.Models.Validations
<form method = "post">
    <section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-right">اضافة مجموعة جديدة </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                  
                            <div class="row">
                   
                                    <div  class="col-sm-12 col-md-2 dataTables_filter pt-2" id="DataTables_Table_0_filter">
                                        <label>اســــــــم المجموعة :</label>  
                                     </div>
                                      <div class="col-sm-12 col-md-6 dataTables_filter" id="DataTables_Table_0_filter">
                                        <input type="search" class="form-control form-control " placeholder="" aria-controls="DataTables_Table_0" style="height: 58px;" asp-for="validationName">

                                     </div>

                               
                            </div> 
                             <div class="col-lg-2"></div>
                        <table class="table table-striped table-bordered zero-configuration mt-40 table-group text-center">
                            <thead>
                                <tr>
                                    <th>الصفحة</th>
                                    <th>عرض </th>
                                    <th>اضافه</th>
                                    <th>تعديل</th>
                                    <th>حذف</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>الموظفين</td>
                                    <td>  <input type="checkbox" id="item1" asp-for="empDisplay"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="empAdd"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="empEdit"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="empDelete"></td>
                               
                                </tr>
                                
                                <tr>
                                    <td>الاجازات الرسمية</td>
                                    <td>  <input type="checkbox" id="item1" asp-for="gsDisplay"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="gsAdd"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="gsEdit"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="gsDelete"></td>
                               
                                </tr>
                                
                               
                                <tr>
                                    <td> تقرير الرواتب </td>
                                    <td>  <input type="checkbox" id="item1" asp-for="reportDisplay"></td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                               
                                </tr>
                                <tr>
                                    <td>الحضور والانصراف </td>
                                    <td>     <input type="checkbox" id="item1" asp-for="attendDisplay"></td>
                                    <td>  <input type="checkbox" id="item1" asp-for="attendAdd"></td>
                                    <td> </td>
                                    <td> </td>
                            
                               
                                </tr>
                                                                                                                                                                                                                                                     </yr>
                            </tbody>
                
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
          
             <input class="btn btn-success" type="submit" value="تأكيد"/>
        </div>
</section>
</form>




