
@{
    ViewData["Title"] = "AddValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Hr-system</title>
</head>
<body>
    <section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title"  style="direction:rtl">اضافة مجموعة جديدة </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                  
                            <div class="row">
                                   
                                        <div class="col-sm-12 col-md-9"><div id="DataTables_Table_0_filter"
                                             class="dataTables_filter"  style="direction:rtl"><label>اسم المجموعة :<input type="search" 
                                class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0" style="height: 58px;"></label></div></div>
                               
                            </div> 
                             <div class="col-lg-2"></div>
                        <table class="table table-striped table-bordered zero-configuration mt-40 table-group" style="direction:rtl">
                            <thead>
                                <tr>
                                    <th>الصفحة</th>
                                    <th>عرض </th>
                                    <th>اضافه</th>
                                    <th>تعديل</th>
                                    <th>حذف</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>الموظفين</td>
                                    <td>     <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                               
                                </tr>
                                
                                <tr>
                                    <td>الأعدادات العامة</td>
                                    <td>     <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                               
                                </tr>
                                <tr>
                                    <td>تقرير الرواتب </td>
                                    <td>     <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                               
                                </tr>
                               
                                <tr>
                                    <td>الحصور والانصراف  </td>
                                    <td>     <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                                    <td>  <input type="checkbox" id="item1" name="item"></td>
                               
                                </tr>
                                                                                                                                                                                                                                                     </yr>
                            </tbody>
                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>

