@using HR_Sys.ViewModels 
@model EditHrViewModel

@*@model HR
*@@{
}

 <section id="configuration">
         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                     <div class="card-header">
                        <div class="card-title-wrap bar-success text-right">
                          <h4 class="card-title">تعديل مستخدم </h4>
                        </div>
                     </div>
           
                               
                     <div class="card-body">
                         <div class="px-3">
                             <form class="form form-horizontal" method="post">
                                 <div class="form-body">
                                      <div class="form-group row">
                                          <div class="col-md-9">
                                              <input type="hidden"  class="form-control" asp-for="hrId" placeholder="الاسم بالكامل ">
                                          </div>
                                          
                                     </div>
                                     <div class="form-group row">
                                          <label class="col-md-3 label-control" asp-for="fullName">الاسم بالكامل : </label>
                                          <div class="col-md-9">
                                              <input type="text"  class="form-control" asp-for="fullName" placeholder="الاسم بالكامل ">
                                              <span asp-validation-for="fullName" class="text-danger"></span>
                                          </div>
                                          
                                     </div>
                                     <div class="form-group row">
                                          <label class="col-md-3 label-control" asp-for="hrUserName">اسم المستخدم : </label>
                                          <div class="col-md-9">
                                              <input type="text" asp-for="hrUserName" class="form-control"  placeholder="اسم المستخدم ">
                                              <span asp-validation-for="hrUserName" class="text-danger"></span>
                                          </div>
                                          
                                      </div>
                                     <div class="form-group row">
                                          <label class="col-md-3 label-control" asp-for="email">البريد الالكتروني </label>
                                          <div class="col-md-9">
                                              <input type="text" asp-for="email"  class="form-control"  placeholder="البريد الالكتروني ">
                                              <span asp-validation-for="email" class="text-danger"></span>
                                          </div>
                                          
                       

                                     </div>



                                     

                                     
                                     
                                          
                                     <div class="form-group row">
                                         <label class="col-md-3 label-control" asp-for="validationId">الصلاحيات: </label>
                                         <div class="col-md-9">
                                             <select asp-for="validationId"  class="form-control" asp-items="ViewBag.validation">
                                               
                                             </select>
                                             <span asp-validation-for="validationId" class="text-danger"></span>


                                         </div>

                                     </div>

                                      
                                          
  
                                  </div>
                                  <div class="form-actions">
                                        <button type="button" class="btn btn-danger mr-1" onclick="return confirm('تأكيد الالغاء')">
                                             <i class="icon-trash"></i> الغاء
                                         </button>
                                         <button type="submit" class="btn btn-success">
                                             <i class="icon-note"></i> حفظ
                                         </button>
                                  </div>
                             </form>
                
                          </div>
                           
                     </div>
                    
  
              
             
                     
                                 
                                
                </div>
            </div>
         </div>
         
      </section>

