
@model  X.PagedList.IPagedList<HR_Sys.Models.HR>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;


@{
    ViewData["Title"] = "Index";
}

<style>
        

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                font-size: 20px;
                font-weight: bold; 
            }

                .pagination .active {
                        color: #2a75ff;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: background-color .3s;
                        border: 1px solid #ddd;
                        font-size: 20px;
                        font-weight: bold;  
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

        .container {
            padding-bottom: 3% !important;
        }

        .btn {
            margin-bottom: -12px !important;
        }
    </style>


<div class="content-wrapper">
            <div class="container-fluid">
<!-- Zero configuration table -->
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-center">معلومات المستخدم</h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label>عرض 
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>بحث:<input type="text" class="form-control" aria-controls="DataTables_Table_0" name="searchString" id="searchString"></label>
                                </div>
                                @*<div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <input type="submit" class="btn btn-info"  name="searchString" value="search">
                                </div>*@
                            </div>
                            
                            <div class="col-md-3">
                                <button id="addRow" class="btn btn-primary mb-2"> 
                                    <i class="ft-plus"></i>&nbsp;
                                    <a asp-controller="HR" asp-action="registerhr" target="_blank"> إضافة مستخدم جديد</a>
                                </button>
                            </div>
                        </div><br /> 
                        <input id="pageNum" hidden value="@ViewBag.pageNum"/>

                            <!------------------------------------------- start table of HRS-------------------------------------->                    
                        <div id="renderTable"></div>
@*
                        <div class="pagination">
                              Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                       </div>
                       <div>
                     
                  <div class="pull-right">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                   new
                        {
                            page, searchString= ViewBag.search 

                 }))
            </div>*@
                        
                            <!------------------------------------------- end table of HRS-------------------------------------->                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            </div>
          </div>

@section scripts
{
    <script>
            $("#searchString").on("keyup",function(){
            let text=$("#searchString").val();
            let idPageNum=$("#pageNum").val();

            $("#renderTable").load("/HR/search?searchString=" + text+"&page="+idPageNum);
            


            
            })

            $(function(){
                let text=$("#searchString").val();
                let idPageNum=$("#pageNum").val();
                $("#renderTable").load("/HR/search?searchString=" + text+"&page="+idPageNum)

            
            })





</script>




}

