<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Hr-system</title>
    </head>
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title text-right">مجموعة الصلاحيات </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <p class="card-text text-right" >تم تمكين معظم ميزات جداول البيانات افتراضيًا ، لذلك كل ما عليك القيام به لاستخدامه مع قدراتك هو استدعاء البناء</p>
                          
                            <div class="row"><div class="col-sm-12 col-md-3"><div class="dataTables_length" id="DataTables_Table_0_length"><label>عرض 
                                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                    <option value=""></option><option value=""></option><option value=""></option><option value="">
                                        </option></select> </label></div></div>
                                      <div class="col-lg-1"></div> 
                                        <div class="col-sm-12 col-md-3"><div id="DataTables_Table_0_filter"
                                             class="dataTables_filter"><label>:بحث<input type="search" 
                                class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3"><button id="addRow" class="btn btn-primary mb-2"> <i class="ft-plus"></i>&nbsp;
                                   <a href="add_group.html">اضافة مجموعة جديدة</a></button></div>
                            </div> 
                        <table class="table table-striped table-bordered zero-configuration mt-40 table-group text-center">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>الاسم </th>
                             
                                    <th>تعديل </th>
                                    <th>حذف</th>
                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="user">
                                    <td></td>
                                    <td></td>
                                
                                    <td><button class="btn btn-success mb-2"> 
                                        <a href="#
                                        "> تعديل</a></button></td>
                                    <td><button class="btn btn-danger mb-2"> 
                                        <a href="#
                                        ">  حذف</a></button></td>
                              
                                    
                                </tr>
                                           </tbody>
                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
