
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RegisterHR</title>
     
    </head>
    <body>
   
      <section id="configuration">
         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                     <div class="card-header">
                        <div class="card-title-wrap bar-success">
                          <h4 class="card-title">Add user </h4>
                        </div>
                     </div>
           
                               
                     <div class="card-body">
                         <div class="px-3">
                             <form class="form form-horizontal">
                                 <div class="form-body">
                                     <div class="form-group row">
                                          <label class="col-md-3 label-control" for="projectinput1">الاسم بالكامل : </label>
                                          <div class="col-md-9">
                                              <input type="text" id="projectinput1" class="form-control" name="fname" placeholder="الاسم بالكامل ">
                                          </div>
                                          <br />
                                          <br />
                                           <label class="col-md-3 label-control" for="projectinput2"> اسم المستخدم: </label>
                                          <div class="col-md-9">
                                              <input type="text" id="projectinput2" class="form-control" name="fname" placeholder="اسم المستخدم ">
                                          </div>
                                           <br />
                                          <br />
                                           <label class="col-md-3 label-control" for="projectinput3"> البريد الالكتروني: </label>
                                          <div class="col-md-9">
                                              <input type="text" id="projectinput3" class="form-control" name="fname" placeholder="example@gmail.com ">
                                          </div>
                                           <br />
                                          <br />

                                     </div>
                                     <div class="form-group row">
                                         <label class="col-md-3 label-control" for="projectinput4">كلمة المرور: </label>
                                         <div class="col-md-9">
                                          <input type="password" id="projectinput4" class="form-control" name="fname" placeholder="كلمة المرور ">
                                         </div>
                                     </div>
                                      <br />
                                          
                                     <div class="form-group row">
                                         <label class="col-md-3 label-control" for="projectinput7">الصلاحيات: </label>
                                         <div class="col-md-9">
                                             <select id="projectinput7" name="budget" class="form-control">
                                                  <option value="0" selected="" disabled="">Admin</option>
                                                  <option value="leman">hr system</option>
             
            
                                             </select>

                                        </div>
                                     </div>

                                      <br />
                                          <br />
  
                                  </div>
                             </form>
                
                          </div>
                     </div>
                 <div class="form-actions">
                                  <button type="button" class="btn btn-danger mr-1">
                                    <i class="icon-trash"></i> الغاء
                                  </button>
                                  <button type="button" class="btn btn-success">
                                    <i class="icon-note"></i> حفظ
                                  </button>
                 </div>
  
              
             
                     
                                 
                                
              </div>
           </div>
         </div>
      </section>

    </body>
</html>
