@using HR_Sys.Models
@{
   
}


<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                 <div class="card-header m-b-4">
                    <div class="card-title-wrap bar-success">
                        <h2 class="card-title text-center">Welcome @ViewBag.hrname in Pioneer Solutions</h2>
                    </div>
                 </div>
                @if (HttpContextAccessor.HttpContext.Session.GetString("group") == "Admin")
                {
                      <div class="row match-height">
                           <div class="col-xl-4 col-lg-6 col-12">
                              <div class="card bg-success" style="height: 145px;">
                                 <div class="card-body">
                                    <div class="px-3 py-3">
                                       <div class="row text-white">
                                          <div class="text-center">
                                             <h4 class="text-white mb-2">Employees number is </h4>
                                             <h2 class="text-center">@ViewBag.empnumber</h2>
                                             <br>
                  
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-4 col-lg-6 col-12">
                              <div class="card bg-danger" style="height: 145px;">
                                 <div class="card-body">
                                    <div class="px-3 py-3">
                                       <div class="row text-white">
                                          <div class="text-center">
                                             <h4 class="text-white mb-2">HR number is</h4>
                                             <h2 class="text-center">@ViewBag.hrnumbers</h2>
                                             <br>

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-4 col-lg-6 col-12">
                              <div class="card bg-info" style="height: 145px;">
                                 <div class="card-body">
                                    <div class="px-3 py-3">
                                       <div class="row text-white">
                                          <div class="text-center">
                                             <h4 class="text-white mb-2">Department number is </h4>
                                             <h2 class="text-center">@ViewBag.deptnumbers</h2>
                                             <br>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                         
                        </div>
            

                     
                    
                }
                </div>
              
                   </div>
                             </div>
                </section>
